@media screen and (max-width: 900px)
 {
     .section {
         display: grid;
         grid-template-columns:  1fr 1fr;
         grid-template-rows: 1fr 1fr;
         grid-template-areas: "services services"
                              "form form";
     }
     .section__services {
         grid-area: services;
     }
     .section__form {
         grid-area: form;
     }
 }