@import url('https://fonts.googleapis.com/css?family=Lacquer|Lato:300,400,900i&display=swap');
body {
    padding: 0;
    margin: 0;
}
.header {
    background-color:white;
    width: 100%;
    height: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.izquierdo {
    grid-column: 1;
}
.header__logo {
    margin-left: 16px;
    width: auto;
    height: 80px;
}
.derecho {
    grid-column: 3
}
.menu {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    
}
.menu li{

    list-style: none;
    display: inline-block;

}
 .menu li a {
     margin-left: 16px;
     margin-right: 16px;
     font-size: 24px;
     font-family: 'Lato';
     text-decoration: none;
     color: black;
 }
.menu li a:hover {
    color: rgba(206, 10, 10, 0.849);
    
}
.section {
    display: grid;
    width: 100%;
    height: 560px;
    background-image: url('https://c.wallhere.com/photos/0a/02/cycling_blackwhite_action_motionblur_nik_rennrad_singen_radsport-901898.jpg!d');
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 104px;
    grid-template-areas: "info  form"
                          "info form";
}
.section__info {
    display: grid;
    grid-area: info;
    grid-template-columns: 1fr 8fr 1fr;

  
}
.section__info--services {
    display: grid;
    grid-column: 2;
    padding-right: 24px;
    padding-left: 24px;
    justify-self: center;
    background-color: rgba(255, 255, 255, 0.76);
    color: rgba(206, 10, 10, 0.849);
    border-radius: 8px;
    width: 80%;
    height: 90%;
    font-size: 16px;
    font-family: 'Lato';
    text-align: justify;
    list-style: none;
} 
.section__info--title {
    margin: 0;
    font-size: 24px;
    text-align: center;
}
.section__info--services li {
   
    width: 100%;
    height: 20%;
  
    text-decoration: none;

}
.section__form {
    display: grid;
    grid-template-columns: 56px 1fr 56px;
    grid-template-rows: 1fr 3fr 1fr 3fr 1fr 3fr 1fr 3fr 1fr;
    grid-area: form;
   
}
.section__form li {
    
    justify-self: center;
    list-style: none;
}
.section__form li label {
    
    border-radius: 2px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.76);
    color: rgba(206, 10, 10, 0.849);

}
.section__form--input {
    border-radius: 10px;

}
.nombre {
    grid-column: 2;
    grid-row: 2;
}
.correo{
    grid-column: 2;
    grid-row: 4;
}
.tel {
    grid-column: 2;
    grid-row:6;
}
.button{
    grid-column: 2;
    grid-row:8;
    border-radius: 8px;
    width: 100%;
    height: 48px;
}
.footer {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer__left{

    grid-column: 1;
}
.footer__left p {
    font-family: 'Lato';
    font-size: 16px;
    margin-left: 16px;
}
.footer___right {
    margin-right: 24px;
    
    justify-self: flex-end;
    grid-column: 2;
    display: flex;
}
.footer__right--p {
    font-family: 'Lato';
    font-size: 16px;
    margin-left: 16px;
    margin-right: 16px;
    display: inline-block;
}